
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to left, rgb(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
  font-size: calc(10px + 1.5vmin); 
}
.App {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: rgb(100, 220, 250);
  text-shadow: 2px 2px 15px rgb(2, 34, 26);
}

@keyframes loading {
  from {color: rgb(21, 233, 180);}
  to {color:rgb(10, 170, 245)}
}

@media (min-width: 350px) {
  .loading{
    margin-top: 17.5rem;
  }
}
.loading {
  text-align: center;
  color: rgb(100, 220, 250);
  text-shadow: 2px 2px 15px rgb(2, 34, 26);
  font-size: calc(10px + 2vmin);
  font-weight: 100;
  animation: loading 3s linear 2s infinite alternate;
}


.App-logo {
  height: 6.5vmin;
  top: 20%;
  left: 20%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}
.btn-list {
  text-shadow: 2px 2px 15px rgb(2, 51, 39);
  margin: 0% auto 2% auto;
  box-shadow: 1px 1px 5px rgb(21, 233, 180);
  font-weight: 100;
}
html {
  color: inherit;
}
